 
 
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header  >
        <mat-panel-title>
          Контейнеры
        </mat-panel-title>
        <mat-panel-description>
          Сборка контейнеров
        </mat-panel-description>
      </mat-expansion-panel-header>

       
    </mat-expansion-panel>

  </mat-accordion>



  <mat-accordion>

    <mat-expansion-panel style="   margin-top: 1%;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Учетные единицы
        </mat-panel-title>
        <mat-panel-description>
          Работа с учетными еденицами
        </mat-panel-description>
      </mat-expansion-panel-header>
   
      <!--<mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true" [length]="resultsLength">
      </mat-paginator>-->
      bnv
      <div class="example-container mat-elevation-z8">
        <table matSort (matSortChange)="sortData($event)">
          <tr>
            <th mat-sort-header="name">Dessert (100g)</th>
            <th mat-sort-header="calories">Calories</th>
            <th mat-sort-header="fat">Fat (g)</th>
            <th mat-sort-header="carbs">Carbs (g)</th>
            <th mat-sort-header="protein">Protein (g)</th>
          </tr>

          <tr *ngFor="let dessert of sortedData">
            <td>{{dessert.name}}</td>
            <td>{{dessert.calories}}</td>
            <td>{{dessert.fat}}</td>
            <td>{{dessert.carbs}}</td>
            <td>{{dessert.protein}}</td>
          </tr>
        </table>
         </div>

     

    </mat-expansion-panel>
  </mat-accordion>
